<div class='main-nav'>
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                      <a class="nav-link" [routerLink]='["/device"]'>
                        <span data-feather="home"></span>
                        Devices <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                      <a class="nav-link" [routerLink]='["/service"]'>
                        <span data-feather="file"></span>
                        Services
                      </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                      <a class="nav-link" [routerLink]='["/car"]'>
                        <span data-feather="shopping-cart"></span>
                        Cars
                      </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                      <a class="nav-link" [routerLink]='["/owner"]'>
                        <span data-feather="users"></span>
                        Owners
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
</div>
